/*style.css*/

header {
	margin-top: 0px;
}

.card {
	margin-top: 100px;
}

#descrip {
	margin-top: 50px;
}


#holder {
	margin-top: 43.2px;
}

#signin {
	max-width: 500px;
	margin-top: 131px;
}

#inputbox {
	margin-top: -30px;
}

#submitbutton {
	margin-top: 25px;
}

body input {
	padding: 10px;
}

canvas {
	padding: 30px;
}

body form {
	padding: 0px 50px 0px 10px;
}

#carousel {
	margin: 20px 100px 20px 100px;
}

nav a img {
	padding: 10px 10px 10px 70px;
}

/* .row .container{
	margin:0 auto;
} */

.jumbotron {
	margin: 0 px;
}

footer {
	margin: 50px 20px 50px 20px;
}

.icon {
	font-size: 2rem;
}

.link-cardinal {
	color: #8C1515;
}

.home-vid {
	width: 32vmax;
	height: 18vmax;
}

.round-image {
	border-radius: 50%;
	width: 80%;
	height: 80%;
}

.top-name-style {
	color: rgb(94 163 129);
    font-weight: 600;
}

.section-heading {
	font-family: poppins-semibold, poppins;
	color: rgb(94 163 129);
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 0 8px 6px -8px #9ea0a5;
}

.list-group {

	.publication-list-item-section {
		position: relative;
		/* margin: 15px 0px 15px calc((100% - 980px) * 0.5); */
		display: flex;

		.publication-list-item {
		
			.w-90 {
				width: 90%;
			}

			.publication-list-item-heading {
				color: rgb(7, 7, 7);
				font-weight: 600;
			}

			.publication-list-item-btn {
				border-radius: 42%;
				color: rgb(0, 0, 0);
				font-weight: 600;
			}
		}
	}

	.selected-publication-list-item-section{
		position: relative;
		/* margin: 5px 0px 11px calc((100% - 980px) * 0.5); */
		display: flex;
		border-radius: 7px;
		background-color: #F0EAD6;
	}
}

.nav {
	.nav-custom-border:first-child {
		color: rgba(0, 0, 0, 0.5);
		border: 0;
	}

	.nav-custom-border {
		display: inline-block;
		border-left: 1px solid rgba(0, 0, 0, 0.7);
		cursor: pointer;
		height: 90%;

		.nav-custom-color {
			font-weight: 700;
			color: rgba(0, 0, 0, 0.5);
		}

		.nav-custom-color:hover,
		.nav-custom-color:focus {
			color: rgb(0, 0, 0);
			text-decoration: underline;
		}

	}
}

.navbar-section-1 {
	color: rgba(0, 0, 0, 0.5);

	.icon {
		font-size: 1.5rem;
	}
}
